body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#c63939;

}

header {
    color: #FFF;
}

footer {
    text-align: center;
    color: #FFF;
    border-top: 2px solid #990000;

}

button {
    cursor: pointer;
    border-radius: 1.5px;
    border: 0px;
    background-color: #da350b;
    transition-duration: 0.4s;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: red;
    color: red;
}

a {
    text-decoration: none;
    color: #FFF;
}

form, label {
    color: #FFF;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: 2px solid purple;
}

.main {
    border: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: 10px;
    text-align: left;
    flex-flow: column wrap;
    justify-content: space-between;
}

.text {
    display: flex;
    margin-top: 15px;
    color: white;
    padding: 15px;
    align-items: initial;
    align-content: flex-start;
    justify-content: space-between;
}

.work {
}

.student1 {
    padding-left: 10px;
    border-left: 1px solid #990000;
}

.student2 {
    padding-left: 10px;
    border-left: 1px solid #990000;
}

.student3 {
    padding-left: 10px;
    border-left: 1px solid #990000;
}


.button {
    padding: 12px;
}

.row_buttons {
    border-top: 2px solid #cc0000;
    border-bottom: 2px solid #cc0000;
    padding: 20px;
    text-align: center;
}

.curriculum {
    background-color: #f1f1f1;
    display: flex;
    margin-top: 10px;
    padding: 20px;
}

.profile {
    flex: 3;
    text-align: center;
    border-right: 1px solid black;
}

.profile-content {
    flex: 9;
    margin-left: 20px;
    color: black;
}

.profile_content_bold {
    font-weight: bold;
    color: #c63939;

}

.text-margin-left {
    margin-left: 10px;
}

.form-input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    min-width: 350px;
}

#btn-enviar {
    min-width: 350px;
}

#educacao {
    display: flex;
}

#educacao-medio {
    flex: 2;
    border-right: 1px solid black;
}

#educacao-graduacao {
    flex: 5;
}

#credit {
    font-size: small;
    padding-top: 20px;
}

#profile-pic {
    border-radius: 50%;
    max-width: 100px;
}